<div class="column col-4 col-md-6 col-sm-12" style="margin-bottom: 24px;">
  <a href="{{ site.baseurl}}{{ post.url }}" style="text-decoration: none;">
    <div class="card moonwalk-card">
      <div class="card-body" style="padding: 0;">
        <h5 class="moonwalk-title">
          {{ post.title }}
          {% if post.wip %}
            <span class="moonwalk-badge">WIP</span>
          {% endif %}
        </h5>
        <p class="moonwalk-desc">
          {% if post.short-description %}
            {{ post.short-description }}
          {% else %}
            {{ post.excerpt | strip_html | truncatewords: 15 }}
          {% endif %}
        </p>
      </div>
    </div>
  </a>
</div>
